[core]
	excludesfile = /Users/rbutler/.gitignore_global
	editor = vim
[user]
	name = Ryan Butler
	email = 1170939+rbutler@users.noreply.github.com
[push]
	default = current
[alias]
    can = commit --amend --no-edit
[rebase]
	autosquash = true
[url "git@github.com:"]
	insteadOf = https://github.com/
