[core]
	excludesfile = /Users/rbutler/.gitignore_global
	editor = nano
[user]
	name = Ryan Butler
	email = butler.ryan@gmail.com
[push]
	default = current
[alias]
    can = commit --amend --no-edit
[rebase]
	autosquash = true
